@model ML.Alumno
<link rel="stylesheet" href="~/Content/Estilos.css" type="text/css" />
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>


            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/ecotech.svg" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail", @onkeypress = "return validarEmail(event, 'lblEmailError'" })                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.Email)

                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtPassword", @placeholder = "Password" })

                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->


        </div>
    </div>
}



@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript">


                     function validarEmail()
                     {
                            var txtEmail = $("#txtEmail").val();
                            var regularExpression = /^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/

                            if (regularExpression.test(txtEmail))
                            {
                                //document.getElementById("lblEmailError").innerHTML = "";
                                return true;
                            }
                            else
                            {
                                $("#lblEmailError").css("color","red");
                                $("#lblEmailError").removeAttr("class");
                              /*  document.getElementById("lblEmailError").innerHTML = "Correo invalido";*/
                                return false;
                            }
                     }

    </script>
}